[Interface]
Address = 10.8.0.2/32
PrivateKey = REPLACE_WITH_CLIENT_PRIVATE_KEY
MTU = 1200

[Peer]
PublicKey = REPLACE_WITH_SERVER_PUBLIC_KEY
PresharedKey = REPLACE_WITH_PRESHARED_KEY
AllowedIPs = 10.8.0.0/24
Endpoint = 127.0.0.1:5000
PersistentKeepalive = 20